[Unit]
Description=MP3 Alarm core service
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/Alarm
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target